<img class="closetPic" ng-src="client/uploads/{{info.image_name}}" ng-click="goToSingleOutfit(info.image_name, info.image_id)">
<div class="ratingDiv">
  <span ng-hide="!info.stars">
    {{ info.rating.toPrecision(2) || "No votes yet!"  }}
  </span>
  <star-rating ng-if="info.stars" ng-model="info.rating" readonly="true"></star-rating>
</div>
<div ng-if="info.confirm == false" class="remove" ng-click="confirmDelete(1)">
      <img id="delete" src="client/img/delete-icon.jpg"/>
</div>
 <div class="remove" ng-if="info.confirm">Are you sure?
        <button ng-click='deleteImage()'>yes</button>
        <button ng-click="confirmDelete(0)">no</button>
 </div>
