<div class='container col-md-12 btn-container'>
  <button class='btn btn-danger'><i class="fa fa-arrow-left"></i>&nbsp&nbsp&nbsp<a class="back-btn" href="#/closet">Back to Closet</a></button>
</div>
<div class='singleOutfitDiv container col-md-12' ng-controller="SingleOutfitCtrl">
  <img class="singleOutfitImage" src="{{singleImageUrl}}">


<div class="detailBox singleOutfitCommentsDiv">
  <div class="titleBox">
    <label>Comments</label>
  </div>
  <div class="actionBox">
    <ul class="commentList" ng-repeat='comment in comments'>
      <li>
        <div class="commenterImage">
          <p ng-if="comment.message != ''">{{comment.username}}</p>
        </div>
        <div class="commentText" ng-if="comment.message != ''">
          <p class="">&nbsp:&nbsp&nbsp&nbsp{{comment.message}}</p> <span class="date sub-text"><star-rating ng-model='comment.rating' readonly='true'></star-rating></span>
          <span class="date sub-text">on Jan. 07, 2016</span>
        </div>
      </li>
    </ul>
  </div>
</div>